{% extends "base_templates/base.html" %}
{% block page-title %}Express Naija | Not{% endblock page-title %}
{% block page-contents %}
{% load static %}

<style>
    .text{
        font-size: 72px;
        font-weight: bolder;
    }
    .sub-text{
        font-size: 32px;
    }
</style>
<div class="container col-lg-5 mt-5 ">
    
    <div class="col-12 text-center py-3 px-5">
        <p class="text">404</p>
        <p class="sub-text">PAGE NOT FOUND</p>
    </div>
</div>




{% endblock page-contents %}
