{% extends "base/base.html" %}
{% load static %}
{% block page-contents %}


<div class="col-md-12 m-auto">

    <div class="card border-0 shadow">
        <div class="card-body">




            <!-- form for user details -->
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <!-- form starts here -->
                            <form action="{% url "manager:newcompany" %}" method="post" 
                                enctype="multipart/form-data"class="user-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-4 mb-4">
                                        <label for="image">Company Logo</label>
                                        <input type="file" name="image" id="image" class="form-control">
                                    </div> 
                                </div>
                                <div class="row row-gap-2">
                                    <div class="col-sm-4 mb-3">
                                        <label for="company-name">Company Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="name" id="company-name"
                                            class="form-control py-3"
                                            placeholder="Agofure">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="cemail">Email <span
                                                class="text-danger">*</span></label>
                                        <input type="email" name="email" id="cemail"
                                            class="form-control py-3" placeholder="example@gmail.com">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="phone">phone Number<span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="phone_number" id="phone"
                                            class="form-control py-3"
                                            placeholder="0901123456">
                                    </div>

                                    <div class="col-sm-12 mb-3">
                                        <label for="address">Company Address</label>
                                        <textarea class="form-control resident-textarea"
                                            id="address" name='address' rows="3" placeholder=""
                                            aria-label=""></textarea>
                                    </div>
                                    <div class="col-sm-12 mb-3">
                                        <label for="about">About Company</label>
                                        <textarea class="form-control resident-textarea"
                                            id="address" name='about' rows="3" placeholder=""
                                            aria-label=""></textarea>
                                    </div>

                                </div>
                                
                                <div class="col-sm-6 mb-1">
                                    <input type="submit" value="Save Company"
                                        class="btn colorbtn text-white btn-sm p-3">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page-contents %}