{% extends "base/base.html" %}
{% load static %}
{% block page-contents %}


  <!-- wrapper starts here -->
  <div class="col-12 px-4 ">

    <div class="row row-gap-2 mt-3">

        <!-- contennts starts here -->


        <div class="col-12">
            <div class="card history-row fbg-color border-0 shadow" style='background:#fdbe9726'>
                <div class="card-body ">
                    <table id="myTable" class="custom-border-color table-responsive table-bordered table-striped"
                        style="background-color: transparent;">
                        <thead>
                            <tr>
                                <th>Vehicle Number</th>
                                <th>Company</th>
                                <th>Terminal 1</th>
                                <th>Terminal 2</th>
                                <th>Capacy</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>AWX-423-213</td>
                                <td>Good is Good</td>
                                <td>Lagos</td>
                                <td>Delta</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>LAG-423-213</td>
                                <td>Peace Mass</td>
                                <td>Niger</td>
                                <td>Delta</td>
                                <td>18</td>
                                <td>$12,500</td>
                            </tr>

                            <tr>
                                <td>AWX-453-213</td>
                                <td>Good is Good</td>
                                <td>Lagos</td>
                                <td>Enugu</td>
                                <td>18</td>
                                <td>$14,500</td>
                            </tr>
                            
                            <tr>
                                <td>AK-423-213</td>
                                <td>Good is Good</td>
                                <td>Ondo</td>
                                <td>Delta</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>NIG-423-213</td>
                                <td>Good is Good</td>
                                <td>Lagos</td>
                                <td>Niger</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>KEB-424-213</td>
                                <td>Good is Good</td>
                                <td>Kebbi</td>
                                <td>Delta</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>EDO-423-213</td>
                                <td>Chukwubikem</td>
                                <td>Lagos</td>
                                <td>Delta</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>Kg-423-213</td>
                                <td>Chukwubikem</td>
                                <td>Kogi</td>
                                <td>Eboyin</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>PMT-423-191</td>
                                <td>Peace Mass</td>
                                <td>Eboyin</td>
                                <td>Lagos</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>CMB-423-213</td>
                                <td>Chukwubikem</td>
                                <td>Eboyin</td>
                                <td>Cross Rivers</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>CMB-324-543</td>
                                <td>Chukwubikem</td>
                                <td>Akwa-Ibom</td>
                                <td>Cross Rivers</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>

                            <tr>
                                <td>CMB-423-213</td>
                                <td>Peace Mass</td>
                                <td>Eboyin</td>
                                <td>Akwa-Ibom</td>
                                <td>18</td>
                                <td>$114,500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- contents ends here -->

    </div>
</div>
<!-- wrapper ends here -->


{% endblock page-contents %}