{% extends "base/base.html" %}
{% load static %}
{% block page-contents %}


  <!-- wrapper starts here -->
  <div class="col-12 px-4 ">

    <div class="row row-gap-2 mt-3">

        <!-- contennts starts here -->


        <div class="col-12">
            <div class="card history-row fbg-color border-0 shadow">
                <div class="card-body ">
                    <table id="myTable" class="custom-border-color table-responsive table-bordered table-striped"
                        style="background-color: transparent;">
                        <thead>
                            <tr>
                                
                                <th>Booking Code</th>
                                <th>Customer Number</th>
                                
                                <th>Company</th>
                                <th>Pickup State</th>
                                <th>Destination State</th>
                                <th>Trip Type</th>
                               
                                <th>Price</th>
                                <th>Ation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings  %}
                            
                            <tr>
                                <td>{{booking.booking_code}}</td>
                                <td>{{booking.customer}}</td>
                                
                                <td>{{booking.vehicle.company}}</td>
                                <td>{{booking.pickup_state}}</td>
                                <td>{{booking.destination_state}}</td>
                                <td>{{booking.trip_type}}</td>
                                <td>{{booking.total_cost}}</td>
                                <td>                                    
                                    <a href = '{% url "manager:booking-detail" booking.booking_code %}' class=" m-1 btn btn-sm  btn-primary"  ><i class="bi bi-eye"></i></a>
                                </td>
                               
                            </tr>

                            {% empty %}
                            
                            {% endfor %}
                            

                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <!-- contents ends here -->

    </div>
</div>
<!-- wrapper ends here -->


{% endblock page-contents %}