{% extends "base/base.html" %}
{% load static %}
{% block page-contents %}

{% for company in companies %}


 <!--  company item -->
 <div class="col-lg-3 col-md-4 ">

    <div class="card border-0 shadow">
        <div class="card-body">



            <div class="row justify-content-center align-items-end mb-2">
                <div class="col-12">
                    <img src="{{company.image.url}}" class="rounded-pill" width="32px"
                        alt="avatar">
                </div>


                <div class="col-9">

                    <span class="h6">
                        {{company.name | upper}} </span>
                    <br>
                    <small class="fw-4">{{ company.email }}</small><br>
                    <span class="text-gray">{{company.phone_number}}</span><br>
                    <span class="fw-bold">Vehicles : {{company.vehicle_set.all.count}}</span>
                </div>
                <div class="col-3 text-end column-gap-2 gap-y-2 gap-2">
                    <a href="{% url "manager:company-detail" company.id company.slug %}" 
                        class=" btn btn-primary btn-sm rounded-pill mb-1"><span><i
                                class="bi bi-eye"></i></span> </a>
                    <button href="#" target="_blank" rel="noopener noreferrer" id='deletCompany-action'
                        class="btn-sm btn btn-danger rounded-pill shadow-sm mb-1" data-bs-toggle="modal"
                        data-bs-target="#AlertModel" data-id={{company.id}} data-name='{{company.name}}'><span
                            class=""><i class="bi bi-trash"></i> </span></button>
                </div>

            </div>

        </div>
    </div>


</div>


{% empty %}

 <div class="col-md-12 ">

    <div class="card border-0 shadow">
        <div class="card-body">



            <div class="row justify-content-center align-items-end mb-2">
               <div class="col-10 m-auto">
                
                    <p class="text-center">No Registered company yet to display</p>
                </div>
              

            </div>

        </div>
    </div>


</div>



{% endfor %}




{% endblock page-contents %}

{% block heavyScript %}

document.querySelectorAll('#deletCompany-action').forEach(button =>{
    button.addEventListener('click', function(){
       Alertid = $(this).data('id')
       let Alertname = $(this).data('name')
       $('#alertmodel-item').text(Alertname)
    })
})

$('#confirm-delete').on('click', ()=>{
    var toastEl = $('#ToastElement');
    var toast = new bootstrap.Toast(toastEl);
    $.ajax({
        url : '/manager/deletecompany/'+ Alertid,
        type : 'POST',
        data : {'csrfmiddlewaretoken': '{{csrf_token}}'},
        success: function(response, textStatus, jqXHR ){
            if(jqXHR.status === 200){
                     toastEl.find('#bodytoast').text(jqXHR.responseJSON.message);
                     toastEl.find('.toaser').removeClass('bg-danger').addClass('bg-success text-white');
                     toast.show();
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500);
            }

        },
        error: function(jqXHR, textStatus, errorThrown){
            if (jqXHR.status === 400) {
                toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
            } else if (jqXHR.status === 404) {
                // Handle 'Traveller profile not found'
                toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
            } else {
                // Handle other types of errors
                toastEl.find('.toast-body').text('An unexpected error occurred: ' + errorThrown);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
               
            }
        }
    })
    $('#AlertModel').modal('hide')
})


{% endblock heavyScript %}