{% extends "base/base.html" %}
{% block title %}Manager | Dashboard{% endblock title %}




{% block page-contents %}
<div class="col-md-11 m-auto">
    <div class='row row-gap-2'>
        <div class="col-lg-3 col-sm-4">
            <div class="card p-2 shadow border-0">
                <div class="card-body">
                    <div class="text-end">
                        <span class="rounded-pill p-3 num-bg-color text-white ">{{num_pending_booking}}</span>
                    </div>
                    <h5 class="medium fw-bold"><span class="me-1"><i class="bi bi-journal-check"></i></span>Bookings</h5>
                    <p class="primary-color">Total pending Bookings</p>
    
                </div>
            </div>
        </div>
    
    
        <div class="col-lg-3 col-sm-4">
            <div class="card p-2 shadow border-0">
                <div class="card-body">
                    <div class="text-end">
                        <span class="rounded-pill p-3 num-bg-color text-white ">{{num_companies}}</span>
                    </div>
                    <h5 class="medium fw-bold"><span class="me-1"><i class="bi bi-bus-front"></i></span>Companies</h5>
                    <p class="primary-color">Registered Companies</p>
    
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-4">
            <div class="card p-2 shadow border-0">
                <div class="card-body">
                    <div class="text-end">
                        <span class="rounded-pill p-3 num-bg-color text-white ">{{num_traveller}}</span>
                    </div>
                    <h4 class="medium fw-bold"><span class="me-1"><i class="bi bi-person-circle"></i></span>Users</h4>
                    <p class="primary-color">Total Registered Users</p>
    
                </div>
            </div>
        </div>
    
        <div class="col-lg-3">
            <div class="card p-2 shadow border-0">
                <div class="card-body">
                    <div class="text-end">
                        <span class="rounded-pill p-3 num-bg-color text-white ">10M</span>
                    </div>
                    <h5 class="medium fw-bold"><span class="me-1"><i class="bi bi-person-circle"></i></span>Users</h5>
                    <p class="primary-color">Total Registered Users</p>
    
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="row  mt-3">
        <div class="col-12">
            <div class="card  m-auto border-0 ">
            <div class="card-body">
                <h1 class='page-title py-3'>Weekly Booking Statistics</h1>
                <canvas id="weeklyBookingsChart">
                    <p>No values yet</p>
                </canvas>
            </div>
        </div>
        </div>
    </div>
    
</div>






<script>
    // Parse data passed from the Django view
    const daysOfWeek = {{ days_of_week | safe }};
    const bookingsPerDay = {{ bookings_per_day | safe }};

    // Render the line chart for weekly bookings
    const ctxWeekly = document.getElementById('weeklyBookingsChart').getContext('2d');
    new Chart(ctxWeekly, {
        type: 'line',
        data: {
            labels: daysOfWeek,
            datasets: [{
                label: 'Bookings per Day',
                data: bookingsPerDay,
                backgroundColor: 'white',
                borderColor: '#fe7c2b',
                borderWidth: 1,
                fill: false,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1,
                    },
                }
            }
        }
    });
</script>

{% endblock page-contents %}