{% extends "base/base.html" %}
{% load static %}

{% block title %}{{company.name}}{% endblock title %}
{% block page-contents %}


<div class="col-md-11 m-auto">

    <div class="card border-2 bgcolor shadow border-white">
        <div class="card-body">



            <div class="row justify-content-center align-items-end mb-2">
               
                <div class="col-12">

                    <span class="h5 text-white">
                        {{vehicle.company.name | upper}} </span>
                    <br>
                    <span class="fs-5">{{vehicle.terminal2.state}} <span> <i class='bi bi-arrow-right-left'></i></span> {{ vehicle.terminal2.state}} </span><br>
                    <span class="fw-bold">Total Schedules: {{schedules.count}}</span>
                </div>
        

            </div>

        </div>
    </div>

    <!-- list of vehicles under company -->
    <div class="col-md-12 m-auto  mt-3">
        <div class="card border-0  px-3 shadow">
            <div class="card-body">
                <div class="row mb-4 mt-3 align-items-center">
                    <div class="col-12 text-end"><buttun class="btn btn-sm colorbtn text-white rounded-pill shadow-sm " data-bs-toggle="modal" data-bs-target="#AddnewVehicle"><span  data-bs-toggle="tooltip" data-bs-title="create schedule"><i class="bi bi-plus"></i></span> Create Schedule</button></div>
                      
                </div>
                <div class="row row-gap-2 history-row">
                    <table id="myTable" class="table text-gray table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>S/N</th>
                               
                                <th>Pickup State</th>
                                <th>Destination State</th>
                                <th>Trip Type </th>
                                <th>Travel date </th>
                                <th>Travel Time </th>
                                {% comment %} <th>Action</th> {% endcomment %}
                            </tr>
                        </thead>
                        <tbody>
                            
                           

                           {% for schedule in schedules %}
                           
                           <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{schedule.pickup_state}}</td>
                            <td>{{schedule.destination_state}}</td>
                            {% if schedule.destination_state == vehicle.terminal2.state %}
                            <td>Return</td>  
                            {% else %}
                            <td>Going</td>                              
                            {% endif %}
                            <td>{{ schedule.travel_datetime.date }}</td>                
                            <td>{{ schedule.travel_datetime.time }}</td>                
                            {% comment %} <td>
                                <button class="btn btn-sm rounded-pill btn-outline-primary"><i class="bi bi-pen"></i></button>
                                <button class="btn btn-sm rounded-pill btn-outline-danger" id="deletevehicle-action" data-id='{{vehicle.id}}' data-name ='{{vehicle.plate_number}}'  data-bs-toggle="modal"  
                                data-bs-target="#AlertModel"><i class="bi bi-trash"></i></button>
                            </td> {% endcomment %}
                        </tr> 

                           {% empty %}{% endfor %}

                            
                            

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


  <!-- Create Schedule -->
  <div class="modal fade " id="AddnewVehicle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AddnewVehicleLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg shadow" >
      <div class="modal-content">
        <div class="modal-header bgcolor">
          <h6 class="modal-title fs-5 text-white" id="AddnewVehicleLabel">Create Schedule for {{vehicle.terminal1.state}} to {{vehicle.terminal2.state}}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-12 p-2">
                <div class="card border-0">
                    <div class="card-body">
                              <!-- form starts here -->
           <form id='addNewVehicleForm' method="post" class="user-form">
            {% csrf_token %}
             <div class="row row-gap-2">
                 
                     <input type="hidden" name="vehicle" id="vehicle"
                         class="form-control py-2" value = {{vehicle.id}}>
                 
                 <div class="col-sm-4 mb-3">
                     <label for="travelDate">Travel Date<spanclass="text-danger">*</span></label>
                     <input type="date" name="travelDate" id="travelDate"
                         class="form-control py-2" required>
                 </div>
                 <div class="col-sm-4 mb-3">
                     <label for="travelTime">Travel Time<spanclass="text-danger">*</span></label>
                     <input type="time" name="travelTime" id="travelTime"
                         class="form-control py-2" required>
                 </div>
                 <div class="col-sm-4 mb-3">
                     <label for="travelType">Trip Type <span
                             class="text-danger">*</span></label>
                    
                         <select name="travelType" id="travelType"  class="form-select py-2" required>
                            <option value="going">Going</option>
                             <option value="return">Return</option>
                         </select>
                 </div>
               
             <div class="col-sm-6 mb-1 mt-3">
                 <input type="submit" value="Add Vehicle"
                     class="btn colorbtn text-white btn-sm col-16 p-3">

             </div>
         </form>
                    </div>
                </div>
           
            </div>
          
        </div>
       
      </div>
    </div>
  </div>


{% endblock page-contents %}

{% block heavyScript %}

$('#addNewVehicleForm').on('submit', function(e){
    e.preventDefault();

    var toastEl = $('#ToastElement');
    var toast = new bootstrap.Toast(toastEl);

    $.ajax({
        url : '{% url "manager:createSchedule" %}',
        type : 'POST',
        data: $(this).serialize() ,
        success: function(response, textStatus, jqXHR){
             if (jqXHR.status === 200) {
                    console.log(jqXHR.responseJSON.message)
                    toastEl.find('#bodytoast').text(jqXHR.responseJSON.message);
                     toastEl.find('.toaser').removeClass('bg-danger').addClass('bg-success text-white');
                    toast.show();
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500);
                }
        },
        error: function(jqXHR, textStatus, errorThrown){
            if (jqXHR.status === 400) {
                toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
            } else if (jqXHR.status === 404 & jqXHR.responseJSON.success == 'false') {
                // Handle 'Traveller profile not found'
                toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
            } else {
                // Handle other types of errors
                toastEl.find('.toast-body').text('An unexpected error occurred: ' + errorThrown);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
               
            }
        }

    })  
}) 


{% comment %} to delete vehicle {% endcomment %}

{% comment %}  
var Alertid 
  
document.querySelectorAll('#deletevehicle-action').forEach(button =>{
    button.addEventListener('click', function(){
       Alertid = $(this).data('id')
       let Alertname = $(this).data('name')
       $('#alertmodel-item').text(Alertname)
    })
})

$('#confirm-delete').on('click', ()=>{
    var toastEl = $('#ToastElement');
    var toast = new bootstrap.Toast(toastEl);
    $.ajax({
        url : '/manager/delete-vehicle/'+ Alertid + '/',
        type : 'POST',
        data : {'csrfmiddlewaretoken': '{{csrf_token}}'},
        success: function(response, textStatus, jqXHR ){
            if(jqXHR.status === 200){
                     toastEl.find('#bodytoast').text(jqXHR.responseJSON.message);
                     toastEl.find('.toaser').removeClass('bg-danger').addClass('bg-success text-white');
                     toast.show();
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500);
            }

        },
        error: function(jqXHR, textStatus, errorThrown){
            if (jqXHR.status === 400) {
                toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
            } else if (jqXHR.status === 404) {
                // Handle 'Traveller profile not found'
                toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
            } else {
                // Handle other types of errors
                toastEl.find('.toast-body').text('An unexpected error occurred: ' + errorThrown);
                toastEl.find('.toaser').addClass('bg-danger text-white');
                toast.show();
               
            }
        }
    })
    $('#AlertModel').modal('hide')
})
    
{% endcomment %}

{% endblock heavyScript %} 