{% extends "base_templates/base.html" %}
{% block page-contents %}

<div class="container col-lg-5 mt-5 ">
    <img src="{% static 'logo.png' %}" width="56px" alt="">
    <div class="col-12 border rounded-2 shadow py-3 px-5">
        <h3 class=" fw-bold fs-2 text-gray">Reset Password</h3>
        <p class="mb-4 ">Enter your Registered email</p>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="row mb-4">
                <label for="email" class="mb-1">Email</label>
                <input type="text" class="form-control" id="email" placeholder="example@gmail.com">
            </div>

            

            <div class="row mb-3">
                <input type="submit" id="action-btn" class="btn btn-sm colorbtn text-white" value="Send">
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        Did not recieve any email?
                        <a href="#" class="primary-color link fw-bold">Resend Here</a>
                    </p>
                </div>
            </div>

        </form>
    </div>
</div>


{% endblock page-contents %}