{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
</head>

<body>
    <div class="container col-lg-4 mt-5 ">
       
        <form action="#" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                
                <input type="text" class="form-control" id="email" placeholder="Enter your E-mail Address" name="email">
            </div>

            
            <div class="row mb-3">
                <input type="submit" class="btn btn-primary" id="action-btn" value="Login">
            </div>

        </form>
    </div>


    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>

</html>