{% extends "base_templates/base.html" %}
{% block page-contents %}
{% load static %}
<div class="container col-lg-5 mt-5 ">
    <img src="{% static "logo.png" %}" width="56px" alt="">
    <div class="col-12 border rounded-2 shadow py-3 px-5">
        <h3 class=" fw-bold fs-2 text-gray">Welcome Back</h3>
        <p class="mb-4 ">Enter your details to login</p>
        <form id='loginUserForm' method='POST'>
            {% csrf_token %}
            <div class="row mb-4">
               <div class="form-group">
                <label for="email" class="mb-1">Email</label>
                <input type="text" class="form-control" id="email" name="username" placeholder="example@gmail.com">
               </div>
            </div>

            <div class="row mb-4">
                <label for="password" class="mb-1">Password</label>
                <div class="form-group password-container">
                    <input type="password" class="form-control" id="password" name="password" placeholder="********">
                <i class="bi bi-eye-slash fw-bold fs-5 primary-color" id="togglePassword"></i>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <input type="checkbox" name="remember" id="remember-me" class="form-check-input"> Remember Me?
                </div>
                <div class="col-6 text-end">
                    <a href="{% url "forgot-password" %}" target="_blank" rel="noopener noreferrer" class="text-end link primary-color">forget password?</a>
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group">
                    <button type="submit" id="action-btn " class="btn col-12 btn-sm colorbtn text-white action-login-btn" >
                        <span class="spinner-border invisible spinner-border-sm" id='spiner' aria-hidden="true"></span>
                        <span role="status" id='action-btn-status'>Login</span>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        Do not have an account?
                        <a href="{% url "signup" %}" class="primary-color link fw-bold">SignUp Here</a>
                    </p>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="loginToast" class="toast  " role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex toaser">
            <div class="toast-body">
             
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $('#loginUserForm').on('submit', function(event) {
            event.preventDefault();
            let = btn_status = $('#action-btn-status')
            let btn = $('#action-btn')
            let spiner = $('#spiner')
            $.ajax({
                url: "{% url 'login' %}",
                type: 'POST',
                data: $(this).serialize(),
                beforeSend:function(){
                    console.log('am sending ')
                    
                    spiner.removeClass('invisible')
                    btn_status.text('loading.........')
                    btn.attr('disabled', true)

                },
                success: function(response) {
                    var toastEl = $('#loginToast');
                    spiner.addClass('invisible')
                    btn_status.text('login')
                    btn.removeAttr('disabled')
                    var toast = new bootstrap.Toast(toastEl);
                    if (response.success) {
                        toastEl.find('.toast-body').text('Login successful!');
                        toastEl.find('.toaser').removeClass('bg-danger').addClass('bg-success text-white');
                        toast.show();
                        setTimeout(function() {
                            window.location.href = response.redirect_url;
                        }, 1500);
                    } else {
                        toastEl.find('.toast-body').text(response.message);
                        console.log(response.message)
                        toastEl.find('.toaser').addClass('bg-danger text-white');
                        toast.show();
                    }
                },
                error: function() {
                    var toastEl = $('#loginToast');
                    var toast = new bootstrap.Toast(toastEl);
                    toastEl.find('.toast-body').text('An error occurred. Please try again.');
                    toastEl.find('.toaser').addClass('bg-danger text-white');
                    toast.show();
                }
            });
        });
    });
</script>
{% endblock page-contents %}
