{% extends "base_templates/user_dashboard_base.html" %}
{% block page-title %}Settings{% endblock page-title %}

{% block page-content %}

 <!-- contents starts here -->

 <div class="col-md-12 m-auto">

    <div class="card border-1">
        <div class="card-body">

            

            <!-- form for user details -->
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <!-- form starts here -->
                            <form action="#" method="post" class="user-form">
                                <div class="row row-gap-2">
                                    <div class="col-12 mb-3">
                                        <label for="current-password">Current Password <span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="current-password" id="current-password"
                                            class="form-control py-3 "
                                            placeholder="your current password">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="newpassword">New Password<span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="newpassword" id="newpassword"
                                            class="form-control py-3" placeholder="your new password">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="cpassword">Confirm Password <span
                                                class="text-danger">*</span></label>
                                        <input type="password" name="cpassword" id="cpassword"
                                            class="form-control py-3"
                                            placeholder="confrim new password">
                                    </div>
                                    

                                    <div class="col-sm-6 mb-1">
                                        <input type="submit" value="Save password" class="btn btn-primary btn-sm p-3">

                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- contents ends here --> 
 
{% endblock page-content %}

                       
