{% extends "base_templates/user_dashboard_base.html" %}
{% block title %}Book Search{% endblock title %}
{% block page-contents %}

<!-- start here -->
<div class="card border-0 shadow-sm">
    <div class="card-body">
        <form action="{% url "search_vehicles" %}" method="post">
            {% csrf_token %}
            <div class="row align-items-end justify-contents-center">
                <div class="col-md-3 mb-2">
                    <label for="current-state" class="mb-1">Travelling from <span class="text-danger">*</span></label>
                    <select class="form-select" id="current-state" aria-label="" name='start_state' required>
                        <option ></option>
                        {%  for terminal in terminals %}
                            <option value="{{terminal.id}}">{{ terminal.state }} == {{terminal.area}}</option>
                        {% endfor %}

                    </select>

                </div>
                <div class="col-md-3 mb-2">
                    <label for="current-state" class="mb-1">Travelling to <span class="text-danger">*</span></label>
                    <select class="form-select" id="current-state" aria-label="" name='destination_state' required>
                        <option selected value='0'></option>
                        {%  for terminal in terminals %}
                            <option value="{{terminal.id}}">{{ terminal.state }} == {{terminal.area}}</option>
                        {% endfor %}
                    </select>

                </div>


                <div class="col-md-3 mb-2">
                    <button type="submit" class=" col-12 btn colorbtn text-white px-5"><span class="me-1"><i class="bi bi-search"></i></span>Search</button>
                </div>


                <div class="col-md-3 mb-2">
                    <button type="button" class=" col-12 btn colorbtn text-white px-5" data-bs-toggle="offcanvas" data-bs-target="#advanceSearch"><span class="me-1"><i class="bi bi-funnel"></i></span>Filter</button>
                </div>
            </div>

            



        </form>
    </div>
</div>

<!-- travellers list container -->
<div class="row traveller-list mt-2 row-gap-3 pt-3 justify-content-center align-items-top">
{% load static %}
{% for vehicle in vehicles %}

<div class="col-lg-3 col-sm-4">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <div class="row">
                <div class="col-4 mb-3">
                    <img src="{{vehicle.company.image.url}}" class="rounded-pill" width="48px" alt="{{vehicle.company}}">
                </div>
                <div class="col-12">
                    <h5 class="traveller-name">{{vehicle.company}}</h5>
                    <p class="traveller-price">{{vehicle.terminal1}}  <br> {{vehicle.terminal2}}</p>
                    <p class="traveller-price">₦ {{vehicle.price}}</p>
                    <button class="btn btn-sm  book-btn">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% empty %}

<div class="col-lg-12 col-sm-4">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <p class='text-center'>No Vehicle Avalable for the Route entered</p>
        </div>
    </div>
</div>

{% endfor %}





</div>



















<!-- off canvas for advance search -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="advanceSearch" aria-labelledby="advanceSearch">
    <div class="offcanvas-header">
        <h5>
            
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="{% url "advanced_search_vehicles" %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="form-group mb-3">
                    <label for="trave-from">Traveling from</label>
                    <select class="form-select" id="current-state" aria-label="" name="start_state">
                        <option selected></option>
                        {%  for terminal in terminals %}
                            <option value="{{terminal.id}}">{{ terminal }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Traveling to</label>
                    <select class="form-select" id="current-state" aria-label="" name="destination_state">
                        <option selected></option>
                        {%  for terminal in terminals %}
                        <option value="{{terminal.id}}">{{ terminal }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Max Price</label>
                    <input type="text" name="max_price" id="max-price" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Min Price</label>
                    <input type="text" name="min_price"  id="min-price" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Company</label>
                    <select class="form-select" id="current-state" aria-label="" name="company">
                        <option selected></option>
                        {%  for company in transport_companies %}
                            <option value="{{company.id}}">{{ company.name }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group mb-3">
                    <input type="submit"  class="form-control colorbtn text-white" value="Apply">
                </div>

            </div>
        </form>
    </div>
 </div>
{% endblock page-contents %}