{% extends 'base_templates/user_dashboard_base.html' %}

{% load static %}

{% block page-title %}Book Transportation{% endblock %}

{% block page-contents %}

<div class="col-12 px-4 ">
    <div class="row">
        <!-- page title -->
        <h5 class="my-4 page-title">Book a Seat</h5>
    </div>
    <div class="row mt-3">



        <!-- start here -->
        <div class="card border-0 shadow-sm">
            <div class="card-body">
                <form action="/book-now/" method="post">
                    {% csrf_token %}
                    <div class="row align-items-end justify-contents-center">
                        <div class="col-md-3 mb-2">
                            <label for="current-state" class="mb-1">Travelling from <span
                                    class="text-danger">*</span></label>
                            <select class="form-select" id="current-state" aria-label="" name="start_state">
                                <option selected></option>
                                {% for state in states %}
                                <option value="{{state.id}}">{{ state.name }}</option>
                                {% endfor %}

                            </select>

                        </div>
                        <div class="col-md-3 mb-2">
                            <label for="current-state" class="mb-1">Travelling to</label>
                            <select class="form-select" id="current-state" aria-label="" name="destination_state">
                                <option selected></option>
                                {% for state in states %}
                                <option value="{{state.id}}">{{ state.name }}</option>
                                {% endfor %}

                            </select>

                        </div>

                        <div class="col-md-3 mb-2">
                            <button type="submit" class=" col-12 btn colorbtn text-white px-5"><span class="me-1"><i class="bi bi-search"></i></span>Search</button>
                        </div>


                        <div class="col-md-3 mb-2">
                            <button type="button" class=" col-12 btn colorbtn text-white px-5" data-bs-toggle="offcanvas" data-bs-target="#advanceSearch"><span class="me-1"><i class="bi bi-funnel"></i></span>Filter</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <!-- travellers list container -->
        <div class="row traveller-list mt-2 row-gap-3 pt-3 justify-content-center align-items-top">
            {% for vehicle in vehicles %}

            <div class="col-lg-4 col-sm-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <img src="{{vehicle.company.image.url}}" class="rounded-pill"
                                            width="25px" alt="">
                                    </div>
                                    <div class="col-8">
                                        <h5 class="traveller-name">{{ vehicle.company.name }}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <p class="traveller-price">{{ vehicle.capacity }} people capacity</p>
                                <p class="traveller-price">NGN{{ vehicle.price }}</p>
                                <p class="traveller-states">
                                    
                                    <span style="font-size: smaller;">
                                        {{ vehicle.terminal1.state.name }}({{vehicle.terminal1.area}})
                                    </span> 
                                    <span>
                                        <i class="bi bi-arrow-left-right"></i>
                                    </span>
                                    <span style="font-size: smaller;">
                                        {{ vehicle.terminal2.state.name }} ({{vehicle.terminal2.area}})
                                    </span>

                                </p>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'book' vehicle.id %}">
                                    <button class="btn btn-sm btn-success book-btn" style="width:100%">Book Now</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>
</div>

<!-- off canvas for advance search -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="advanceSearch" aria-labelledby="advanceSearch">
    <div class="offcanvas-header">
        <h5>

        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="{% url 'advanced_search_vehicles' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group mb-3">
                    <label for="trave-from">Traveling from</label>
                    <select class="form-select" id="current-state" aria-label="" name="start_state">
                        <option selected></option>
                        {% for state in states %}
                        <option value="{{state.id}}">{{ state.name }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Traveling to</label>
                    <select class="form-select" id="current-state" aria-label="" name="destination_state">
                        <option selected></option>
                        {% for state in states %}
                        <option value="{{state.id}}">{{ state.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Max Price</label>
                    <input type="text" name="max_price" id="max-price" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Min Price</label>
                    <input type="text" name="min_price" id="min-price" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="trave-from">Company</label>
                    <select class="form-select" id="current-state" aria-label="" name="company">
                        <option selected></option>
                        {% for company in transport_companies %}
                        <option value="{{company.id}}">{{ company.name }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group mb-3">
                    <input type="submit" class="form-control colorbtn text-white" value="Apply">
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock page-contents %}