{% extends "base_templates/user_dashboard_base.html" %}
{% load static %}
{% block page-title %}book a ticket{% endblock page-title %}
{% block customScript %}
<style>
    .card {
        margin-bottom: 1rem;
    }

    

    /* .card-info {
        display: flex;
        flex-direction: column;
    }

    .card-info div {
        margin-bottom: 0.25rem;
    }  */

    .card-info .route {
        font-size: 1.0rem;
        font-weight: bold;
    }

    .card-info .company {
        color: #d56314;
    }

    .card-info .times {
        color: gray;
    }
</style>

<style>
    .seat {
        width: 40px;
        height: 40px;
        background-color: #ddd;
        margin: 5px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }

    .seat.selected {
        background-color: #035818;
        color: white;
        filter: drop-shadow(1px 2px 4px rgba(11, 122, 13, 0.4));
        border: 2px solid white;
        font-size: smaller;
    }

    .seat.booked {
        background-color: #a00f1e;
        color: white;
        cursor: not-allowed;
    }

    .custom-radio {
        display: none;
    }

    .custom-radio+label {
        display: inline-block;
        padding: 5px 20px;
        
        text-align: center;
        margin: auto;
        border: 1px solid #fd8135;
        border-radius: 5px;
        cursor: pointer;
        background-color: #fff;
        transition: background-color 0.3s;
    }

    .custom-radio+label:hover{
        background-color: #d56314;
    }

    .custom-radio:checked+label{
        border-radius: 6px;
        background-color: #c16c38;
        color: #fff;
        border: 2px solid #ffffffbf;
    }

    .custom-radio-wrapper {
        margin-bottom: 10px;
        display: flex;
        text-align: center;
      
    }

    .toast {
        position: fixed;
        bottom: 20px;
        left: 50%;
       
    }
</style>

{% endblock %}
{% block page-contents %}

<div class="col-md-12">

    <div class="card border-0 shadow-sm ">
        <div class="card-body">

            <!-- form for user details -->
            <div class="row ">
                <div class="col-12">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <div class="row justify-content-center align-items-center mb-4">
                                <div class="col">
                                    <!-- <span><img src="{{vehicle.company.image.url}}" class="rounded-pill" width="32px"
                                        alt="{{vehicle.company.name}}"></span> -->
                                        <span><span class='px-2 fw-bold fs-5'>{{vehicle.company.name | upper}} </span> <br><span class="px-2">Booking Form</span></span>
                                       
                                </div>

                            </div>
                            <div class="row pb-2 mt-2">

                                <div class=" col-lg-4 col-md-5 mb-2 py-2 bg-dark text-white rounded-2">
                                    <label for="trip-type " class='fw-bold pb-2'>Trip Type:</label>
                                    <div class="col-12 align-items-center">
                                        <input type="radio" id="one-way" class="form-check-input p-2 " name="trip-type"
                                            value="one-way" checked onclick="showForm('form1')">
                                        <label for="one-way" class="px-2 fw-bold">One Way</label>
                                        <input type="radio" id="round-trip" class="form-check-input p-2 "
                                            name="trip-type" value="round-trip" onclick="showForm('form2')">
                                        <label for="round-trip" class="px-2 fw-bold ">Round Trip</label>
                                    </div>
                                </div>
                                <hr class="border-dark-2">
                            </div>

                            <!-- One way Trip -->
                            <div id="form1" class="form-container active ">
                                <form action="#" method="post" class="user-form" id="one-way-form">
                                    {% csrf_token %}
                                    <div class="row row-gap-2">

                                        <div class="col-sm-4 mb-3">
                                            <label for="State">Traveling from</label>

                                            <select class="form-select user-state-form py-3" id="" aria-label=""
                                                name="pickup_state">
                                                <option value="{{ vehicle.terminal1.state.id }}">{{vehicle.terminal1.state.name }}</option>
                                                <option value="{{ vehicle.terminal2.state.id }}">{{vehicle.terminal2.state.name }}</option>

                                            </select>

                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="State">Traveling to</label>

                                            <select class="form-select user-state-form py-3" id="" aria-label=""
                                                name="destination_state">
                                                <option value="{{ vehicle.terminal2.state.id }}">{{
                                                    vehicle.terminal2.state.name }}</option>
                                                <option value="{{ vehicle.terminal1.state.id }}">{{
                                                    vehicle.terminal1.state.name }}</option>

                                            </select>


                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="travel-date">Traveling date <span
                                                    class="text-danger">*</span></label>
                                            <input type="date" id="date" name="travel_date" id="travel-date"
                                                class="form-control py-3">
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-sm-4 mb-3">
                                                <label for="adults">Adults</label>
                                                <input type="number" class="form-control py-3" name="adults" value="1">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <label for="children">Children</label>
                                                <input type="number" class="form-control py-3" name="children" value="0">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <div class="total-seats" data-max-seats="{{ vehicle.capacity }}">Total
                                                    Seats Selected: 0</div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <p class="fw-bold py-2">Next of Kin Details</p>
                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="travel-date">Full Name </label>
                                            <input type="text" name="nok-name" id="nok-name" class="py-3 form-control"
                                                {% if next_of_kin_detail.name %} value="{{ next_of_kin_detail.name }}"
                                                {% endif %}>
                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="travel-date">Phone Number </label>
                                            <input type="text" name="nok-phone" id="nok-phone" class="py-3 form-control"
                                                {% if next_of_kin_detail.phone %} value="{{ next_of_kin_detail.phone }}"
                                                {% endif %}>
                                        </div>


                                        <div class="col-sm-4 mb-3">
                                            <label for="travel-date">Address </label>
                                            <input type="text" name="nok-address" id="nok-address"
                                                class="py-3 form-control">
                                        </div>

                                        <!-- BOOK SEAT CONTAINER -->

                                        <div class="row mt-2">
                                            <h5 id="one-way-selected-schedule" class="py-2"></h5>
                                            <p class="mb-3">Vehicle Seats</p>
                                            <div class="mb-3">
                                                <label for="seats" class="form-label">Seats:</label>
                                                <div id="one-way-seats" class="seats-container row"></div>
                                            </div>
                                            <input type="hidden" name="selected_seats" id="one-way-selected_seats">
                                        </div>
                                      

                                    </div>
                                    <div class="col-sm-12 text-start mb-1 mt-2">
                                        <input type="submit" value="Proceed to Payment" class="btn colorbtn text-white btn-sm p-3">

                                    </div>
                                </form>
                            </div>

                            <!-- Round trip form -->
                            <div id="form2" class="form-container 2wayform">
                                <form action="#" method="post" class="user-form" id="round-trip-form">
                                    {% csrf_token %}
                                    <div class="row row-gap-2">

                                        <div class="col-sm-4 mb-3">
                                            <label for="State">Traveling from</label>

                                            <select class="form-select user-state-form py-3" id="" aria-label=""
                                                name="pickup_state">
                                                <option value="{{ vehicle.terminal2.state.id }}">{{ vehicle.terminal2.state.name }}</option>
                                                <option value="{{ vehicle.terminal1.state.id }}">{{vehicle.terminal1.state.name }}</option>

                                            </select>

                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="State">Traveling to</label>

                                            <select class="form-select user-state-form py-3" id="" aria-label=""
                                                name="destination_state">
                                                <option value="{{ vehicle.terminal1.state.id }}">{{vehicle.terminal1.state.name }}</option>
                                                <option value="{{ vehicle.terminal2.state.id }}">{{vehicle.terminal2.state.name }}</option>
                                            </select>


                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="travel-date">Traveling date <span
                                                    class="text-danger">*</span></label>
                                            <input type="date" id="date" name="lname" id="travel-date"
                                                class="form-control py-3">
                                        </div>

                                        <div class="col-sm-4 mb-3">
                                            <label for="travel-date">Returning date <span
                                                    class="text-danger">*</span></label>
                                            <input type="date" id="date" name="lname" id="travel-date"
                                                class="form-control py-3">
                                        </div>

                                        
                                            <div class="col-sm-4 mb-3">
                                                <label for="adults">Adults</label>
                                                <input type="number" class="form-control py-3" name="adults" value="1">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <label for="children">Children</label>
                                                <input type="number" class="form-control py-3" name="children" value="0">
                                            </div>
                                            <div class="col-sm-4 mb-3">
                                                <div class="total-seats" data-max-seats="{{ vehicle.capacity }}">Total
                                                    Seats Selected: 0</div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-12">
                                                <p class="fw-bold py-2">Next of Kin Details</p>
                                            </div>

                                            <div class="col-sm-4 mb-3">
                                                <label for="travel-date">Full Name </label>
                                                <input type="text" name="nok-name" id="nok-name"
                                                    class="py-3 form-control">
                                            </div>

                                            <div class="col-sm-4 mb-3">
                                                <label for="travel-date">Phone Number </label>
                                                <input type="text" name="nok-phone" id="nok-phone"
                                                    class="py-3 form-control">
                                            </div>


                                            <div class="col-sm-4 mb-3">
                                                <label for="travel-date">Address </label>
                                                <input type="text" name="nok-address" id="nok-address"
                                                    class="py-3 form-control">
                                            </div>

                                            <div class="row mt-2">
                                                <h5 id="round-trip-selected-schedule"></h4>
                                                    <p class="mb-3">Vehicle Seats</p>
                                                <div class="mb-3">
                                                    <label for="seats" class="form-label">Seats:</label>
                                                    <div id="round-trip-seats" class="seats-container row"></div>
                                                </div>
                                                <input type="hidden" name="selected_seats"
                                                    id="round-trip-selected_seats">
                                            </div>

                                            
                                        </div>

                                        <div class="col-sm-12 text-start mb-1 mt-2">
                                            <input type="submit" value="Proceed to Payment" class="btn colorbtn text-white btn-sm p-3">
    
                                        </div>

                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <!-- <div class="toast" id="toast"></div> -->


{% comment %} the model to hold ans show all the schedular {% endcomment %}

     <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true"  data-bs-backdrop="static" data-bs-keyboard="false">
     <div class="modal-dialog modal-lg modal-dialog-scrollable ">
         <div class="modal-content">
             <div class="modal-header bgcolor text-white">
                 <h6 class="modal-title " id="exampleModalLabel"><span class="me-2 text-dark"><i class="bi bi-date"></i></span>Available Travel Schedules</h6>
                 
             </div>
             <div class="modal-body py-2">
                {% comment %} the schedular container {% endcomment %}
                <div class="row" id="schedule-container">
                 
                </div>
             </div>
             <div class="modal-footer border-0">
                 
             </div>
         </div>
     </div>
 </div>
</div>






<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Get the current date in YYYY-MM-DD format
        const today = new Date().toISOString().split('T')[0];
        // Set the min attribute of the date input to today
        document.getElementById('date').setAttribute('min', today);
    });



</script>



<script>
    function showForm(formId) {
        // Hide all forms
        var forms = document.getElementsByClassName('form-container');
        for (var i = 0; i < forms.length; i++) {
            forms[i].classList.remove('active');
        }
        // Show the selected form
        document.getElementById(formId).classList.add('active');
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const allPickupStateSelect = document.querySelectorAll('select[name="pickup_state"]');
        const allDestinationStateSelect = document.querySelectorAll('select[name="destination_state"]');

        allPickupStateSelect.forEach((pickupStateSelect, index) => {
            pickupStateSelect.addEventListener('change', function () {
                const selectedPickupState = this.value;

                // Clear current options
                // destinationStateSelect.innerHTML = '';
                const destinationStateSelect = allDestinationStateSelect[index];
                // Add new options based on selected pickup state
                if (selectedPickupState == '{{ vehicle.terminal1.state.id }}') {
                    destinationStateSelect.innerHTML = `<option value="{{ vehicle.terminal2.state.id }}">{{ vehicle.terminal2.state.name }}</option>`;
                } else if (selectedPickupState == '{{ vehicle.terminal2.state.id }}') {
                    destinationStateSelect.innerHTML = `<option value="{{ vehicle.terminal1.state.id }}">{{ vehicle.terminal1.state.name }}</option>`;
                }
            });
            // Initialize the states
            pickupStateSelect.dispatchEvent(new Event('change'));
        });
    });
</script>
<script>
    // vehicle id to fetch 
    const VEHICLE_ID = Number("{{ vehicleId }} ")
</script>

{% endblock page-contents %}

{% block heavyScript %}
<script src="{% static 'javascript/booking_scripts/book.js' %}"></script>
{% endblock %}