{% extends "base_templates/user_dashboard_base.html" %}
{% block page-title %}Booking History{% endblock page-title %}
{% block page-contents %}

<div class="card border-0">
    <div class="card-body">
        
        <div class="row history-row">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Booking ID</th>
                        <th>PickUp State</th>
                        <th>Destination State</th>
                        <th>Timestamp</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>112111</td>
                        <td>Ekiti</td>
                        <td>Ondo</td>
                        <td>01/08/2024</td>
                        <td><span class="badge bg-warning text-dark">Pendind</span></td>
                        <td><span> <i class="bi bi-download"></i> Download</span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1123221</td>
                        <td>Lagos</td>
                        <td>Ondo</td>
                        <td>01/08/2024</td>
                        <td><span class="badge bg-primary text-dark">confirmed</span></td>
                        <td><span> <i class="bi bi-download"></i> Download</span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>112111</td>
                        <td>Akwa-Ibom</td>
                        <td>Kaduna</td>
                        <td>01/08/2024</td>
                        <td><span class="badge bg-success text-white">completed</span></td>
                        <td><span> <i class="bi bi-download"></i> Download</span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>123111</td>
                        <td>Oyo</td>
                        <td>Rivers</td>
                        <td>01/08/2024</td>
                        <td><span class="badge bg-danger text-white">cancelled</span></td>
                        <td><span> <i class="bi bi-download"></i> Download</span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>143111</td>
                        <td>Delta</td>
                        <td>Ondo</td>
                        <td>01/08/2024</td>
                        <td><span class="badge bg-success text-white">completed</span></td>
                        <td><span> <i class="bi bi-download"></i> Download</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock page-contents %}