{% extends 'base_templates/user_dashboard_base.html' %}

{% load static %}

{% block page-title %} Profile {% endblock %}

{% block page-contents %}


<!-- <div class="row">
   
    <h5 class="my-4 page-title">Edit Profile</h5>
</div>  -->
<div class="col-md-11 m-auto">

    <div class="card border-0 shadow-sm">
        <div class="card-body px-4 pt-5">

           <div class="row align-items-end mb-2">
                <div class="col-auto">
                   <img src="{% static 'travellers logo/avatar.jpg' %}" class="rounded-pill" width="80px" alt="avatar">
                </div>
                <div class="col">
                    <span class="fw-bold h5">{{traveller.user.last_name |capfirst }}  {{traveller.user.first_name | capfirst}} </span><span style='cursor:pointer; color:#fe7c2b;'data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="edit profile" class=" pb-2 border-0 py-1 px-2" id="editButton"><small><i class="bi bi-pen-fill"></i> Edit</small></span>
                    <br><span>{{traveller.user.email}}</span>
                </div>

            </div> 
            <hr >
            <!-- form for user details -->
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <!-- form starts here -->
                            <form id='UpdateProfile' method='POST' class="user-form">
                                {% csrf_token %}
                                <div class="row row-gap-2">
                                    <div class="col-sm-4 mb-3">
                                        <label for="fname">First Name <span class="text-danger">*</span></label>
                                        <input type="text" name="first_name" id="fname"
                                               class="form-control py-3" 
                                               value="{{ request.user.first_name }}" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="lname">Last Name <span class="text-danger">*</span></label>
                                        <input type="text" name="last_name" id="lname" 
                                               class="form-control py-3" value="{{ request.user.last_name }}" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="email">Email <span class="text-danger">*</span></label>
                                        <input type="text" name="username" id="email" 
                                               class="form-control py-3" value="{{ request.user.email }}" disabled readonly>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="phone">Phone Number <span class="text-danger">*</span></label>
                                        <input type="text" name="phone" id="phone" 
                                               class="form-control py-3" value="{{ traveller.phone }}" disabled>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="State">State</label>
                                        <select class="form-select user-state-form py-3" id="state" 
                                                aria-label="" name="state" disabled>
                                            {% for state in states %}
                                                <option value="{{ state.name }}" 
                                                        {% if state.name == traveller.state %}selected{% endif %}>
                                                    {{ state.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="gender">Gender <span class="text-danger">*</span></label>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card border border-0">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <input type="radio" name="gender" id="gender_male"
                                                                       value="M" class="form-check-input" 
                                                                       {% if traveller.gender == "M" %}checked{% endif %} disabled>
                                                                <label for="gender_male">Male</label>
                                                            </div>
                                                            <div class="col">
                                                                <input type="radio" name="gender" id="gender_female"
                                                                       value="F" class="form-check-input" 
                                                                       {% if traveller.gender == "F" %}checked{% endif %} disabled>
                                                                <label for="gender_female">Female</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-sm-12 mb-3">
                                        <label for="address">Residential Address</label>
                                        <input type="text" class="form-control resident-textarea py-3" id="address" 
                                                  name="residential_address" value=" {{ traveller.residential_address }}" disabled>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12"><p class="fw-bold pt-3 pb-2"> Next of Kin Details</p></div>
                                    <div class="col-sm-6 mb-3">
                                        <label for="nok_fullname">Full Name <span class="text-danger">*</span></label>
                                        <input type="text" name="nok_fullname" id="nok_fullname" 
                                               class="form-control py-3" value="{{ traveller.nok_fullname }}" disabled>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label for="nok-phone">Phone Number <span class="text-danger">*</span></label>
                                        <input type="text" name="nok_phone" id="nok-phone" 
                                               class="form-control py-3" value="{{ traveller.nok_phone }}" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 mb-1 pt-3">
                                        <input type="submit" value="Save Changes" class="btn colorbtn text-white btn-sm p-3" disabled id="saveButton">
                                    </div>
                                </div>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('editButton').addEventListener('click', function() {
        const formElements = document.querySelectorAll('.user-form input, .user-form select, .user-form textarea');
        formElements.forEach(element => element.removeAttribute('disabled'));
        document.getElementById('saveButton').removeAttribute('disabled');
        this.setAttribute('disabled', 'true'); // Disable the Edit button once editing starts
    });
</script>
{% endblock %}

{% block heavyScript %}
     <script>
    $('#UpdateProfile').on('submit', function(e){
        e.preventDefault();
        var toastEl = $('#ToastElement');
        var toast = new bootstrap.Toast(toastEl);
        $.ajax({
            url: '/profile/',
            type: 'POST',
            data: $(this).serialize(),  // Serialize the form data
            success: function(response, textStatus, jqXHR) {
                if (jqXHR.status === 200) {

                    toastEl.find('#bodytoast').text(jqXHR.responseJSON.message);
                     toastEl.find('.toaser').removeClass('bg-danger').addClass('bg-success text-white');
                    toast.show();
                        setTimeout(function() {
                            window.location.reload()
                        }, 1500);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (jqXHR.status === 400) {
                    toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                    toastEl.find('.toaser').addClass('bg-danger text-white');
                    toast.show();
                } else if (jqXHR.status === 404) {
                    // Handle 'Traveller profile not found'
                    toastEl.find('.toast-body').text(jqXHR.responseJSON.message);
                    toastEl.find('.toaser').addClass('bg-danger text-white');
                    toast.show();
                } else {
                    // Handle other types of errors
                    toastEl.find('.toast-body').text('An unexpected error occurred: ' + errorThrown);
                    toastEl.find('.toaser').addClass('bg-danger text-white');
                    toast.show();
                   
                }
            }
        });

    })
    
     </script>
{% endblock %}