{% extends "base_templates/user_dashboard_base.html" %}
{% block page-title %}My Profile{% endblock page-title %}
{% block page-contents %}

<div class="row">
    <!-- page title -->
    <h5 class="my-4 page-title">Edit Profile</h5>
</div>
<div class="col-md-12 m-auto">

    <div class="card border-0 shadow-sm">
        <div class="card-body">

            <div class="row justify-content-center align-items-center mb-2">
                <div class="col">
                    <img src="./travellers logo/avatar.jpg" class="rounded-pill" width="80px"
                        alt="avatar">
                </div>

            </div>

            <!-- form for user details -->
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 bg-white">
                        <div class="card-body">
                            <!-- form starts here -->
                            <form action="#" method="post" class="user-form">
                                <div class="row row-gap-2">
                                    <div class="col-sm-4 mb-3">
                                        <label for="fname">First Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="fname" id="fname"
                                            class="form-control py-3 border-custom-color"
                                            placeholder="Franklin">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="lname">Last Name <span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="lname" id="lname"
                                            class="form-control py-3" placeholder="Okolo">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="email">Email <span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="email" id="email"
                                            class="form-control py-3"
                                            placeholder="franklinokolo123@gmail.com">
                                    </div>
                                    <div class="col-sm-4 mb-3">
                                        <label for="phone">Mobile Number <span
                                                class="text-danger">*</span></label>
                                        <input type="text" name="phone" id="phone"
                                            class="form-control py-3" placeholder="09072900602">
                                    </div>

                                    <div class="col-sm-4 mb-3">
                                        <label for="gender">Gender <span
                                                class="text-danger">*</span></label>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <!-- male radio option -->
                                                            <div class="col">
                                                                <input type="radio"
                                                                    name="gender" id="gender"
                                                                    value="male"
                                                                    class="form-check-input">
                                                                <label for="male">Male</label>
                                                            </div>

                                                            <!-- female radio option -->
                                                            <div class="col">
                                                                <input type="radio"
                                                                    name="gender" id="gender"
                                                                    value="female"
                                                                    class="form-check-input">
                                                                <label
                                                                    for="fmale">Female</label>
                                                            </div>
                                                        </div>




                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-sm-4 mb-3">
                                        <label for="State">State</label>

                                        <select class="form-select user-state-form py-3" id=""
                                            aria-label="">
                                            <option selected></option>
                                            {%  for state in states %}
                            <option value="{{state.id}}">{{ state.name }}</option>
                        {% endfor %}
                                        </select>

                                    </div>

                                    <div class="col-sm-12 mb-3">
                                        <label for="address">Residential Address</label>
                                        <textarea class="form-control resident-textarea"
                                            id="address" rows="3" placeholder=""
                                            aria-label=""></textarea>
                                    </div>

                                    <div class="col-sm-6 mb-1">
                                        <input type="submit" value="Save Changes" class="btn colorbtn text-white btn-sm p-3">

                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock page-contents %}