<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} Home {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
{% load static %}
  <link rel="stylesheet" href="{% static './styles/homestyle.css' %}">
</head>

<body>
    <header class="py-0">
        <nav class="navbar navbar-expand-md top-nav py-0">
            <div class="container">
                <!-- Brand Logo -->
                <a class="navbar-brand" href="#">
                    <img src="{% static './logo.png' %}" width="80px">
                </a>
    
                <!-- Login Button, Always Visible -->
                <div class="d-flex align-items-center order-md-2">
                    <a href="#" class="btn btn-primary btn-sm ms-5">Login</a>
                </div>
    
                <!-- Navbar Toggler, Moved to the Extreme Right on Small Screens -->
                <button class="navbar-toggler order-md-3 ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Collapsible Menu -->
                <div class="collapse navbar-collapse order-md-1 col-auto" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item me-3">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item me-3">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    

  <!-- banner starts here -->

{% block home-banner %}

  <!-- Hero Section -->
  <section id="hero" class="hero section dark-background">
    <img src="{% static "./bus.jpg" %}" alt="" class="hero-bg">

    <div class="container">
      <div class="row gy-4 justify-content-between">
        <div class="col-lg-4 order-last rounded-2 hero-img form-background" data-aos="zoom-out" data-aos-delay="100">

          <form action="#" method="post" class="user-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row row-gap-2">
              <div class="col-12 mb-2">
                <h2>Book Here</h2>
              </div>
              <div class="col-sm-12 mb-3">
                <label for="terminal-1 text-white">Traveling From <span class="text-danger">*</span></label>

                <select name="terminal-1" id="terminal-1" class="form-select py-2" required>
                  {% for terminal in terminals %}
                  <option  value="{{ terminal.state }}-{{ terminal.area }}">{{ terminal.state }} - {{ terminal.area }}
                  </option>
                 
                  {% endfor %}
                </select>
              </div>
              <div class="col-sm-12 mb-3">
                <label for="termina-2 text-white">Traveling To<span class="text-danger">*</span></label>

                <select name="terminal-2" id="terminal-2" class="form-select py-2" required>
                  {% for terminal in terminals %}
                  <option value="{{ terminal.state }}-{{ terminal.area }}">{{ terminal.state }} - {{ terminal.area }}
                    
                  </option>
                 
                  {% endfor %}
                </select>

              </div>

              <div class="col-sm-12 mb-3">
                <label for="adult-count text-white">Adult No<span class="text-danger">*</span></label>

                <select name="adult-count" id="adult-count" class="form-select py-2">
                  {%  for i in "123456789" %}
                  <option value="{{ i }}">{{ i }}</option>
                  {% endfor %}
                </select>

              </div>

              <div class="col-sm-12 mb-3">
                <label for="travelling-date text-white">Traveling Date<span class="text-danger">*</span></label>

                <input name="travelling-date" id="travelling-date" class="form-select py-2" type="date" required>
                  

              </div>



              <div class="col-sm-12 mb-2">
                <input type="submit" value="Search Vehicle" class="btn colorbtn col-12 text-white btn-sm p-2">

              </div>

            </div>


          </form>
        </div>

        <div class="col-lg-6  d-flex flex-column justify-content-center text-white" data-aos="fade-in">
          <h1 class="fw-bold">Travel Made <span class="primary-color">Simple</span></h1>
          <p>Seamless booking for hassle-free travel. Enjoy a smooth and efficient booking experience,
            allowing you to focus on the excitement of your upcoming journey.</p>
          <div class="d-flex">

          </div>
        </div>

      </div>
    </div>



  </section>
  <!-- /Hero Section -->
  <!-- banner ends here -->


{% endblock home-banner %}

{% block page-contents %}

{% endblock page-contents %}



  <footer class="bg-dark text-white">
    <div class="col-md-11 m-auto pt-3 px-3">
      <div class="row align-items-center ">

        <div class="col-lg-4 col-md-6 footer-about">
          <a href="#" class="logo d-flex align-items-center nav-link text-primary fw-bold h5">
            <img src="./logo.png" alt="" srcset="" width="64px">
            Naija <span class=" text-center primary-color ">Ride</span>
          </a>
          <div class="footer-contact">
            <p>A108 Adam Street</p>
            <p>New York, NY 535022</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
            <p><strong>Email:</strong> <span>info@example.com</span></p>
          </div>
          <!-- <div class="social-links d-flex mt-4">
            <a href="" class="rounded-2 bg-white p-1 m-1"><i class="bi bi-twitter-x"></i></a>
            <a href="" class="rounded-circle "><i class="bi bi-facebook "></i></a>
            <a href="" class="rounded-circle "><i class="bi bi-instagram "></i></a>
          </div> -->
        </div>

        <div class="col-lg-4 col-md-3 ">
          <h5 class="fs-5 primary-color fw-bold">Useful Links</h5>
          <ul class="pt-2" style="list-style: none; ">
            <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Terms of service</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Privacy policy</a></li>
          </ul>
        </div>

        

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h5 class="primary-color fw-bold">Our Newsletter</h5>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="#" method="post" class="newsletter">
            <div class="newsletter-form">
              <div class=" row  col-10 border-0 rounded-1 bg-white p-0">
                <div class="col-8 p-0 m-0">
                  <input type="email" name="email" id="email" placeholder="E-Mail Address"
                    class=" border-0 form-control p-2 ">
                </div>
                <div class="col m-0 p-0">
                  <input type="submit" value="Submit" class="form-control  btn btn-sm colorbtn p-2">
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="container copyright text-center mt-4 py-1">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Nija Ride</strong> <span>All Rights Reserved</span>
        </p>
       
      </div>
    </div>
    </div>
  </footer>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



  <!-- swipper js -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>

</html>