<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- data tabe -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
       

    {% load static %}

    <link rel="stylesheet" href="{% static "styles/styles.css" %}">
</head>

<body style="padding: 0px;">
    <div class="container-fluid fixed">
        <div class="row gap-0">
            <!-- large screen side bar menu container -->
            <div class="col-lg-2 lg-menu-side border  start-0 vh-100  text-dark">
                <div class="p-3">
                    <span class="shadow bg-white py-3 px-1">
                        <img src="{% static "logo.png" %}" alt="" width="48px">
                        <span class="primary-color fw-bold"><span class="text-primary ">Express</span>Ride</span>
                    </span>

                    <ul class="nav flex-column mt-4 pt-3">
                        <li class="nav-item mb-3 ">
                            <a class="nav-link text-light" href="manager:managerIndex">
                                <span class="me-1"><i class="bi bi-grid-1x2-fill"></i></span>
                                Dashboard
                            </a>
                        </li>
                        <!-- manage users -->
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-account" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-person-circle"></i></span>
                                Users
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-account">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="profile.html">users List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="account_setting.html">Settings</a>
                                </li>
                            </ul>
                        </li>
                        <!-- manage bookings -->
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-booking" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-journal-check"></i></span>
                                Bookings
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-booking">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="{% url "manager:bookings" %}">Bookings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="bookings.html">New Book</a>
                                </li>
                            </ul>
                        </li>
                        <!-- manage companies -->
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-travellers" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-house"></i></span>
                                Company
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-travellers">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="{% url "manager:companies" %}">Companies</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="{% url "manager:newcompany" %}">Add New</a>
                                </li>
                            </ul>
                        </li>

                        <!-- manage vehicles -->
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-vehicle" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-truck-front-fill"></i></span>
                                Vehicles
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-vehicle">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="book_now.html">Vehicle List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="{% url "manager:newvehicle" %}">Add New</a>
                                </li>
                            </ul>
                        </li> 
                        
                        <!-- manage Terminals -->
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-Terminal" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-pin-map-fill"></i></span>
                                Terminals
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-Terminal">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="book_now.html2">Vehicle List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="#">Add New</a>
                                </li>
                            </ul>
                        </li>

                        <!-- manage analytics -->
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-analytics" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-graph-up"></i></span>
                                Analytics
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-analytics">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="book_now.html">Company List</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="bookings.html">Add New</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <div class="menu-down">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link text-light" href="#"><span class="px-2"><i
                                        class="bi bi-headset"></i></span>Support</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- main board container -->
            <div class="col-lg-10  mainboard p-0">
                <!-- top nav header container -->
                <div class="container-fluid p-0 sticky-top z-1">
                    <div class="col p-0">
                        <nav class="navbar  navbar-expand-lg navbar-light bg-white shadow-sm ">
                            <div class="container-fluid">
                                <a class="navbar-brand fw-bold" href="#">Welcome</a>

                                <div class="d-flex align-items-center order-lg-2">
                                    <a class="nav-link position-relative me-5" href="#">
                                        <i class="bi bi-bell" style="font-size: 1.0rem;"></i>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                            37
                                            <span class="visually-hidden">unread messages</span>
                                        </span>
                                    </a>
                                    <div class="nav-item dropdown me-3">
                                        <a class="text-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span ><i class="bi bi-person-circle"></i></span> 
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-white">
                                            <li><a class="dropdown-item settingmenu" href="#"><span class="me-2"><i class="bi bi-gear"></i></span>Settings</a></li>
                                            <li><a class="dropdown-item logoutmenu" href="#"><span class="me-2"><i class="bi bi-power"></i></span>Logout</a></li>
                                        </ul>
                                    </div>
                                    <span class="navbar-toggler"  data-bs-toggle="offcanvas" data-bs-target="#mobilemenu" aria-controls="mobilemenu">
                                        <span><i class="bi bi-list"></i></span>
                                    </span>
                                </div>

                               
                            </div>
                        </nav>
                    </div>
                </div>
                
               <!-- wrapper starts here -->
                <div class="col-12 px-3 ">
                   
                    <div class="row row-gap-2 mt-3 justify-content-center">
                        
                        <!-- contennts starts here -->

                       {% block page-contents %}
                       
                       {% endblock page-contents %}

                        <!-- contents ends here -->

                    </div>
                </div>
                <!-- wrapper ends here -->
            </div>
        </div>


         <!-- mobile menu  -->
         <div class="offcanvas  offcanvas-end bgcolor" tabindex="-1" id="mobilemenu" aria-labelledby="mobilemenuLabel">
            <div class="offcanvas-header">
                <h5 class="text-white"><span class="text-warning fw-bold">Travel</span>Agent</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="p-3">
                    <ul class="nav flex-column mt-4 pt-3">
                        <li class="nav-item mb-3 ">
                            <a class="nav-link text-light" href="user_dashboard.html">
                                <span class="me-1"><i class="bi bi-grid-1x2-fill"></i></span>
                                Dashboard
                            </a>
                        </li>
                        
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-account" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-person-circle"></i></span>
                                Account
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-account">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="profile.html">profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="account_setting.html">Settings</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown nav-item mb-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="" data-bs-toggle="collapse"
                                data-bs-target="#collapse-booking" aria-expanded="false">
                                <span class="me-1"><i class="bi bi-truck-front-fill"></i></span>
                                Bookings
                            </a>
                            <ul class="collapse nav ms-4" aria-labelledby="" id="collapse-booking">
                                <li class="nav-item">
                                    <a class="nav-link submenu " href="book_now.html">Book now</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link submenu" href="{% url "manager:bookings" %}">Bookings</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">
                                <span class="me-1"><i class="bi bi-wallet2"></i></span>
                                Payments
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-down">
                    <ul class="nav flex-column">
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#"><span class="px-2"><i class="bi bi-headset"></i></span>Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


     <!-- Alert Model Modal -->
     <div class="modal fade" id="AlertModel" tabindex="-1" aria-labelledby="AlertModelLabel"
     aria-hidden="true"  data-bs-backdrop="static">
     <div class="modal-dialog ">
         <div class="modal-content">
             <div class="modal-header bgcolor text-white">
                 <h6 class="modal-title " id="AlertModelLabel"><span class="me-2 text-dark"><i class="bi bi-exclamation-triangle-fill"></i></span>Action Alert</h6>
                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                     aria-label="Close"></button>
             </div>
             <div class="modal-body py-1">
                 <p class="fw-bold">Are you you want to delete company</p>
             </div>
             <div class="modal-footer border-0">
                 <button type="button" class="btn colorbtn text-dark btn-sm"
                     data-bs-dismiss="modal">Cancel</button>
                 <button type="button" class="btn btn-danger btn-sm">Delete</button>
             </div>
         </div>
     </div>
 </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<!-- chart js -->

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

   

     <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
     </script>

   <!-- data table -->
   <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>


   <script>
       $(document).ready(function () {
           $('#myTable').DataTable({
               ordering: false,
              
              

           })
       })


   </script>
 
 
</body>

</html>
